.button {
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: .225s ease-out;
  background: steelblue;
  color: #fff;
}

.button:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,0.15);
}

.input, .button {
  outline: 0; outline-offset: 0;
}

.input--text {
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 10px;
  border-radius: 3px;
  color: #333;
  border: 1px solid #ddd;
  transition: .225s ease-out;
  background: inherit;
}

.input--text:focus, .input--text:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,0.15);
  border: 1px solid #999;
}
